{
  "influx": {
    "host": "127.0.0.1",
    "port": 8086,
    "username": "root",
    "password": "password",
    "database": "3dprinter"
  },
  "octoprint": [{
    "host": "192.168.1.44:5001",
    "apikey": "abcdefghiyklmnopqrs",
    "name": "Hexagon1"
  },{
    "host": "192.168.1.44:5002",
    "apikey": "abcdefghiyklmnopqrs",
    "name": "Hexagon2"
  },{
    "host": "192.168.1.44:5003",
    "apikey": "abcdefghiyklmnopqrs",
    "name": "Lulzbot"
  },{
    "host": "192.168.1.44:5004",
    "apikey": "abcdefghiyklmnopqrs",
    "name": "Prusa"
  }]
}
